<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

<div id="app">
	<form action="/orders/order" method="post">
	<p>请输入想查的订单号</p>
	<input value="" name = "idNumber">
  	<input type="submit" value="search">
  	</form>
    <p>{{ message }}</p>
</div>
<div id="demo">
  		<demo-grid
    		:data="gridData"
    		:columns="gridColumns">
  		</demo-grid>
</div>

<script type="text/javascript">
new Vue({
    el: '#app',
    data: {
        message: 'please input order number'
    }
})
</script>

<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          :class="{active: sortKey == key}">
          {{key | capitalize}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
        <td v-for="key in columns">
          {{key}}
        </td>
      </tr>
    </tbody>
  </table>

Vue.component('demo-grid', {
  template: '#grid-template',
  props: {
    data: Array,
    columns: Array,
  },
})

var demo = new Vue({
  el: '#demo',
  data: {
    searchQuery: '',
    gridColumns: ['name', 'power'],
    gridData: [
      { name: 'Chuck Norris', power: Infinity },
      { name: 'Bruce Lee', power: 9000 },
    ]
  }
})
</script>